/*places text on top of video and centralizes it on the screen*/
 .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
/*controls my name on the plane vid and adds a typing effect*/
.intro-text h1{
  font-family: UnifrakturMaguntia, sans-serif;
  font-size: 8rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: .10em solid white;         /* cursor */
  animation:
    typing 3s steps(30, end) forwards,      /* type effect */
    blink-caret .8s infinite;
}

/*controls the div the video is in*/
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* controls the actual video and moves it to the back*/
#planeVideo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

body{
  font-family: Iceland, sans-serif;
  background-color: rgb(205,198,190);
  
}

.newspaper{
  position: relative;
}

.header{
  margin: 2% 3% 3% 3%;
  display: inline-flexbox;
}

.header h1{
  font-family: UnifrakturMaguntia, sans-serif;
  text-align: center;
  font-size: 6vw;
  padding: 3%;
}

#aboutMe{
  margin:3%;
}

*{
  margin: 0;
  padding:0;
}

nav{
  border-bottom: 2px solid black;
}

nav ul{
  width:100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li{
  height:50px;
}


nav a{
  height:100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color:black;
}

nav a:hover{
  background-color: #f0f0f0;
}


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(171, 163, 155, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 25px;
  color: #353434;
  display: block;
  transition: 0.3s;
  width:100%;
}

.sidebar a:hover {
  background-color: #cac6c6;
}

#closebtn {
  cursor: pointer;
}

.sidebar #closebtn {
  position: absolute;
  top: 0;
  right: 35px;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sidebar li {
  width:100%;
}


/*font size of title of different sections*/
h2{
  font-size: 45px;
}

/*all the paragraphs*/
p{
  font-size: 32px;
  margin-bottom: 16px;
  margin-right: 20px;
}

.aboutMe p::first-letter{
  float: left;
  font-size: 7vw;
  line-height: 5vw;
  background-color: #1D1D1B;
  color: rgb(205,198,190);
  margin: .7vw 1vw 0vw 0vw;
  padding: .75vw 0vw .8vw 0vw;
}

/* Keeps pictures and text in the same line*/
.para-1{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profileImg{
width: auto;
height: 30vw;
max-width: 100%;
margin:20px;
}

.marquee {
  overflow: hidden;
  display: flex;
  padding: 1rem 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size:30px;
}

.marquee-content {
    display: flex;
    flex-shrink: 0;
    gap: 5rem;
    animation: scroll 20s linear infinite;
    list-style: none;
}

.marquee:hover .marquee-content {
    animation-play-state: paused;
  }

h3{
  font-size:35px;
  margin:16px 16px 16px 0;
}
  
.slider{
  width: 1100px;
  max-width:65vw;
  height: 500px;
  margin:auto;
  position: relative;
  overflow:hidden;
  margin-bottom: 16px;
}

.list{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  display:flex;
  width: max-content;
  transition: 1s;
}

.list img{
  width: 1100px;
  max-width:65vw;
  height: 100%;
  object-fit: cover;
}

.buttons{
  position:absolute;
  top:45%;
  left:5%;
  width:90%;
  display:flex;
  justify-content: space-between;
}

#prev, #next{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  font-family:monospace;
  font-weight: bold;
}

.dots{
  position:absolute;
  bottom:10px;
  color: #fff;
  left:0;
  width:100%;
  margin:0;
  padding:0;
  display:flex;
  justify-content: center;
}

.dots li{
  list-style:none;
  width:10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  transition: 1s;
}

.dots li.active{
  width:30px;
}

.skills h3{
  font-size: 250px;
}

.skills{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skillLogo {
  width: 500px;        /* Adjust size as needed */
  height: auto;
  background-color: transparent;     /* Your desired logo color */
}

#Projects h2{
  margin-left: 3%; ;
}
/*projects section; made based on slider*/
.projectContainer-1, .projectContainer-2{
  width: 230px;
  max-width:19w;
  height: 230px;
  margin: 16px 4% 30px 4%;
  display: flex;
}

.projectItem{
  position: relative;
  padding:30px;
  height:100%;
  border-left: 1px solid rgba(29, 29, 27, .5);
  border-right: 1px solid rgba(29, 29, 27, .5);
}

.projectItem img{
  width: 230px;
  max-width:19vw;
  height: 100%;
}


/* text appears on top of the picture when hovered*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(205,198,190);
}

.pictureLink:hover .overlay {
  opacity: 0.8;
}

.overlay-text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-skills {
  color: rgb(62, 62, 62);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#contact h2{
  margin-left: 3%;
  margin-top: 80px;
}

input{
  background-color: whitesmoke;
  width:35%;
  margin-left: 31%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-family: Iceland, sans-serif;
}

textarea{
  background-color: whitesmoke;
  width:35%;
  margin-left: 31%;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Iceland, sans-serif;
}

input:focus-within,
textarea:focus-within {
  outline: none;
  border-color: hwb(36 10% 19% / 0.812);
  border-width: 1.5px;
  box-shadow: 0 0 10px rgba(188, 163, 92, 0.5);/*adds a glow effect*/
}

#submit {
  background-color: rgb(199, 185, 163);
  color: #fff;
  font-size: 20px;
  padding: 10px 18px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid rgb(199, 185, 163);
  cursor: pointer;
  font-family: Iceland, sans-serif;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

#submit:hover {
  opacity: 80%;
  background: #1c1c1c;
  border-color: hwb(36 10% 19% / 0.812); /* Change to your desired focus color */
  box-shadow: 0 0 10px rgba(210, 157, 12, 0.872);
}

#footer{
  background-color: rgb(199, 185, 163);
  color: #fff;
  text-align: left;
  font-size: 20px;
  padding: 1px;
  position: relative;
  bottom: 0;
  width: 100%;
}




/*sidebar adapts with screen size*/
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  .slider{
    height: 400px;
  }
}

/*makes the marquee move*/
@keyframes scroll {
  from { transform: translateX(0); }
  to   { transform: translateX(calc(-100% - 2rem)); }
}

/*typing effect*/
@keyframes typing {
  from { width: 0 }
  to   { width: 100% }
}